/* カスケーディングスタイルシート（CSS）
	フォントや色指定などデザインをサポートする */

canvas {

    display: block; margin: auto;
    border: 1px solid black;;

}


#score {
	color: #ff1234;  background-color: blue;
	font-weight: bold;   font-size: 30;}


 @font-faze{
	font-family:'digit';
/*	src:url('パス.eot')  eot拡張子はformatを宣言しなくて良い */
	src:url('パス')format("opentype");
 #status{
		sont-familiy 
}

/* キャンバスとはWebページ上で画像生成を行う技術で、
   従来はJavaやFlashなどを用いたビジュアル表現が
   プラグインや特殊なツールなしで表現できる */

/* キャンバスの利用手順
	キャンバス要素でページ中に画像領域を確保し、
	JavaScriptを実行して描画領域に図形描画する */

/* 扱い
	画像ファイルを指定しないimg要素の扱いで、
	width,height属性で描画領域のサイズを明示、
	JavaScript上で描画対象のcanvasを特定する
	id要素を指定する

	例 <canvas id="example_canvas" width="150" height="150"></canvas>
	*/

    /*  margin:上下左右のマージン（外側の余白）を一括で指定するプロパティ
    	例   margin: 2px 4px 6px 8px; … ［上］ と ［右］ と ［下］ と ［左］ を指定  */
